openapi: 3.2.0
info:
  title: Clusters Events API
  version: '1.0'
  description: Clusters is a multichain namespace and identity service that gives users a single universal name (username/wallet) resolvable across EVM, Solana, and other blockchain ecosystems.
  contact:
    name: Clusters
    url: https://docs.clusters.xyz
  x-apievangelist-provenance:
    method: generated
    source: https://docs.clusters.xyz/getting-started/api/v1
    note: Faithfully modeled from the provider's published v1 documentation; the Clusters team does not publish an OpenAPI definition. Base URL verified live 2026-07-18.
servers:
- url: https://api.clusters.xyz/v1
  description: Production v1
security:
- ApiKeyAuth: []
- {}
tags:
- name: Events
  description: Replayable historical event feed
paths:
  /events:
    get:
      operationId: getEvents
      tags:
      - Events
      summary: Get events
      description: Get a list of historical events that happen on the Clusters application that can be replayed to reconstruct full state.
      parameters:
      - name: nextPage
        in: query
        schema:
          type: string
        description: Cursor to retrieve the next page.
      - name: limit
        in: query
        schema:
          type: integer
          default: 500
      - name: from
        in: query
        schema:
          type: string
        description: The user who initiated the event.
      - name: orderBy
        in: query
        schema:
          type: string
          enum:
          - oldest
          - newest
          default: oldest
      - name: fromTimestamp
        in: query
        schema:
          type: integer
        description: Timestamp in ms to start at (ignored when nextPage is set).
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventPage'
components:
  schemas:
    Event:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        from:
          type: string
        data:
          type: object
        isTestnet:
          type: boolean
        timestamp:
          type: integer
    EventPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        nextPage:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Optional API key from https://clusters.xyz/developer to raise rate limits.
    WalletBearerAuth:
      type: http
      scheme: bearer
      description: Wallet-signature auth token obtained from POST /auth/token.
