# generated: '2026-07-18'
# method: generated
# source: https://docs.clusters.xyz/getting-started/api/v1 (documented v1 endpoints; base verified live)
openapi: 3.1.0
info:
  title: Clusters API
  version: '1.0'
  description: >-
    Clusters is a multichain namespace and identity service that gives users a
    single universal name (username/wallet) resolvable across EVM, Solana, and
    other blockchain ecosystems. The v1 REST API resolves addresses to cluster
    names and back, reads cluster profiles, checks name availability, produces
    registration transaction data, manages community clusters, and streams a
    replayable historical event feed. Read endpoints are public; write/manage
    endpoints require a wallet-signature bearer token. An optional API key
    raises rate limits.
  contact:
    name: Clusters
    url: https://docs.clusters.xyz
  x-apievangelist-provenance:
    method: generated
    source: https://docs.clusters.xyz/getting-started/api/v1
    note: >-
      Faithfully modeled from the provider's published v1 documentation; the
      Clusters team does not publish an OpenAPI definition. Base URL verified
      live 2026-07-18.
servers:
  - url: https://api.clusters.xyz/v1
    description: Production v1
tags:
  - name: Authentication
    description: Wallet-signature authentication for write operations
  - name: Names
    description: Resolve addresses to cluster/wallet names and back
  - name: Registration
    description: Check availability and build registration transaction data
  - name: Communities
    description: Community cluster name availability and registration
  - name: Clusters
    description: Read and create clusters (profiles bundling wallets)
  - name: Events
    description: Replayable historical event feed
paths:
  /auth/message:
    get:
      operationId: getSigningMessage
      tags: [Authentication]
      summary: Get signing message
      description: Get the signing message used for wallet signature authentication.
      responses:
        '200':
          description: The message to sign and the corresponding signing date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningMessage'
  /auth/token:
    post:
      operationId: createAuthToken
      tags: [Authentication]
      summary: Get authentication key
      description: Authenticate ownership of a specific wallet by submitting a signed message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthTokenRequest'
      responses:
        '200':
          description: The auth key used for authenticated requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
  /names/address/{address}:
    get:
      operationId: getNameByAddress
      tags: [Names]
      summary: Get name by address
      description: Get the cluster and wallet name for an address.
      parameters:
        - $ref: '#/components/parameters/AddressPath'
        - $ref: '#/components/parameters/TestnetQuery'
      responses:
        '200':
          description: Resolved name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameResolution'
        '404':
          description: No name registered for this address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameResolution'
  /names/owner/address/{address}:
    get:
      operationId: getNamesByOwner
      tags: [Names]
      summary: Get names by owner
      description: Get all clusters and wallet names owned by a single wallet address.
      parameters:
        - $ref: '#/components/parameters/AddressPath'
        - $ref: '#/components/parameters/TestnetQuery'
      responses:
        '200':
          description: Owned names
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OwnedName'
  /names:
    post:
      operationId: getAddressesByName
      tags: [Names]
      summary: Bulk resolve names to addresses
      description: >-
        Get the wallets associated with one or more cluster names. Names not
        found are omitted from the response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
      responses:
        '200':
          description: Resolved addresses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NameAddress'
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: array
                items: {}
  /names/register/check:
    post:
      operationId: checkNameAvailability
      tags: [Registration]
      summary: Check availability
      description: Check the availability of one or more cluster names.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Availability results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Availability'
  /names/register/evm:
    post:
      operationId: getRegistrationDataEvm
      tags: [Registration]
      summary: Get EVM registration data
      description: Get the transaction data for registering a cluster name on an EVM chain so a user can sign it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        '200':
          description: Registration transaction data
          content:
            application/json:
              schema:
                type: object
  /names/register/solana:
    post:
      operationId: getRegistrationDataSolana
      tags: [Registration]
      summary: Get Solana registration data
      description: Get the transaction data for registering a cluster name on Solana so a user can sign it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        '200':
          description: Registration transaction data
          content:
            application/json:
              schema:
                type: object
  /names/community/{communityName}/check/{name}:
    get:
      operationId: checkCommunityNameAvailability
      tags: [Communities]
      summary: Check community name availability
      description: Check the availability of a community cluster name.
      parameters:
        - name: communityName
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Availability result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'
  /names/community/{communityName}/register:
    post:
      operationId: registerCommunityName
      tags: [Communities]
      summary: Register a community name
      description: Register a community cluster name. Requires a wallet-signature bearer token.
      security:
        - WalletBearerAuth: []
      parameters:
        - name: communityName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                walletAddress:
                  type: string
                  description: Admin-only; register on behalf of another wallet.
      responses:
        '200':
          description: Registered community name
          content:
            application/json:
              schema:
                type: object
  /clusters:
    post:
      operationId: createCluster
      tags: [Clusters]
      summary: Create a cluster
      description: Create a cluster. Requires a wallet-signature bearer token.
      security:
        - WalletBearerAuth: []
      responses:
        '200':
          description: Created cluster id
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
  /clusters/id/{id}:
    get:
      operationId: getClusterById
      tags: [Clusters]
      summary: Get cluster by id
      description: Get the cluster for an id.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
  /clusters/name/{name}:
    get:
      operationId: getClusterByName
      tags: [Clusters]
      summary: Get cluster by name
      description: Get the cluster for a name.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
  /events:
    get:
      operationId: getEvents
      tags: [Events]
      summary: Get events
      description: >-
        Get a list of historical events that happen on the Clusters application
        that can be replayed to reconstruct full state.
      parameters:
        - name: nextPage
          in: query
          schema:
            type: string
          description: Cursor to retrieve the next page.
        - name: limit
          in: query
          schema:
            type: integer
            default: 500
        - name: from
          in: query
          schema:
            type: string
          description: The user who initiated the event.
        - name: orderBy
          in: query
          schema:
            type: string
            enum: [oldest, newest]
            default: oldest
        - name: fromTimestamp
          in: query
          schema:
            type: integer
          description: Timestamp in ms to start at (ignored when nextPage is set).
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventPage'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Optional API key from https://clusters.xyz/developer to raise rate limits.
    WalletBearerAuth:
      type: http
      scheme: bearer
      description: Wallet-signature auth token obtained from POST /auth/token.
  parameters:
    AddressPath:
      name: address
      in: path
      required: true
      schema:
        type: string
      description: EVM or Solana address.
    TestnetQuery:
      name: testnet
      in: query
      required: false
      schema:
        type: boolean
      description: Set true to query Sepolia testnet state.
  schemas:
    SigningMessage:
      type: object
      properties:
        message:
          type: string
        signingDate:
          type: string
          format: date-time
    AuthTokenRequest:
      type: object
      required: [signature, signingDate, type, wallet]
      properties:
        signature:
          type: string
        signingDate:
          type: string
          format: date-time
        type:
          type: string
          enum: [evm, solana]
        wallet:
          type: string
    AuthToken:
      type: object
      properties:
        token:
          type: string
    NameResolution:
      type: object
      properties:
        address:
          type: string
        type:
          type: string
          enum: [evm, solana]
        clusterName:
          type: [string, 'null']
        walletName:
          type: [string, 'null']
        isVerified:
          type: boolean
    OwnedName:
      type: object
      properties:
        name:
          type: string
        owner:
          type: string
        totalWeiAmount:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        updatedBy:
          type: string
        isTestnet:
          type: boolean
        clusterId:
          type: string
        expiresAt:
          type: [string, 'null']
    NameAddress:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        address:
          type: string
        clusterName:
          type: string
        walletName:
          type: string
        isVerified:
          type: boolean
    Availability:
      type: object
      properties:
        name:
          type: string
        isAvailable:
          type: boolean
    RegistrationRequest:
      type: object
      required: [network, sender, names]
      properties:
        network:
          type: string
          description: Chain id (e.g. "1", "10", "8453") or "solana".
        sender:
          type: string
        names:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              amountWei:
                type: string
        referralClusterId:
          type: string
    Wallet:
      type: object
      properties:
        address:
          type: string
        name:
          type: string
        isVerified:
          type: boolean
        isPrivate:
          type: boolean
        isBackedUp:
          type: boolean
        updatedAt:
          type: string
        updatedBy:
          type: string
        createdAt:
          type: string
    Cluster:
      type: object
      properties:
        id:
          type: string
        createdBy:
          type: string
        createdAt:
          type: string
        wallets:
          type: array
          items:
            $ref: '#/components/schemas/Wallet'
        isTestnet:
          type: boolean
    Event:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        from:
          type: string
        data:
          type: object
        isTestnet:
          type: boolean
        timestamp:
          type: integer
    EventPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        nextPage:
          type: [string, 'null']
security:
  - ApiKeyAuth: []
  - {}
